<div class="contain-margins" id="<%= comment.id %>">

  <div class="col-sm-12">
  <div class='votes' style="margin-left: -10px;">
    <% if current_user && %>
      <% if current_user.voted_up_on? comment %>
        <%= link_to '▲', unlike_comment_path(comment), :class => 'upvote', :id => "upvote-#{comment.id}", :method => :put %>
        <div class='num_votes'><%= comment.netvotes %></div>
        <%= link_to '▼', dislike_comment_path(comment), :class => 'nullvote', :id => "nullvote-#{comment.id}", :method=> :put %>
      <% elsif current_user.voted_down_on? comment %>
        <%= link_to '▲', like_comment_path(comment), :class => 'nullvote', :id => "nullvote-#{comment.id}", :method => :put %>
        <div class='num_votes'><%= comment.netvotes %></div>
        <%= link_to '▼', undislike_comment_path(comment), :class => 'downvote', :id => "downvote-#{comment.id}", :method => :put %>
      <% end %>
    <% else %>
      <%= link_to '▲', like_comment_path(comment), :class => 'nullvote', :id => "nullvote-#{comment.id}", :method => :put %>
      <div class='num_votes'><%= comment.netvotes %></div>
      <%= link_to '▼', dislike_comment_path(comment), :class => 'nullvote', :id => "nullvote-#{comment.id}", :method => :put %>
    <% end %>
  </div>
  </div>

    <!--/  <div class="col-sm-10 margin-top-5 text-right">
  <#%= link_to "x", comment_path(comment), :method => :delete, data: { :confirm => "Are you sure you want to remove this comment?" } %>
  </div>   -->

  <div class="col-sm-12">
    <p class="text-body"><%= comment.body %></p>
  </div>

  <!--reply-->
    <span>
  <div class="col-sm-8">
    <button class='reply-button' id='<% comment.id %>-reply'>reply</button>
  </div>
  <div class="col-sm-4 text-right">
  <p class="post-by"> <!-- for when the other one is commented out -->
    <%= l(comment.created_at, format: '%B, %d %Y') %>
  </p>
  </div>
        </span>
    <!--/ end of reply and date of comment-->


</div>
