<div class="comment-form-div" id='master-comment-form'>
    <%= form_for(comment, remote: true) do |f| %>

      <div class="col-sm-12">
      <div class="field form-group">
        <%= f.text_area :body, :placeholder => "Tell us your thoughts!", class:'form-control', maxlength: 100 %>
        <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
        <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
      </div>
      </div>
      <div class="col-sm-6 float-left" >
        <p id="chars-remaining">characters remaining: </p>
        </div>
        <div class="col-sm-6 float-right" >
      <div class="actions form-group" align="right" id="submit-margin">
        <%= f.submit "Submit"%>
      </div>
      </div>
    <% end %>
</div>