<!--<li><%= link_to "Contact", contact_path %></li>-->

<div id="navigation_links">
  <ul class="nav navbar-nav navbar-right">
    <% if !user_signed_in? %>
    <li><%= link_to "sign up", new_user_registration_path %></li>
    <li><%= link_to "log in", new_user_session_path %></li>
    <li><%= link_to "FAQ" %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">•••</a>
      <ul class="dropdown-menu" id="left-side">
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "our team", our_team_path %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "terms", terms_path %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "privacy", privacy_path %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "contact us", contact_path %></div></div></li>
      </ul>
    </li>
    <% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">/profile-here/</a>
      <ul class="dropdown-menu" id="left-side">
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "profile", user_path(current_user) %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "dashboard" %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "account settings" %></div></div></li>
        <li><div class="row"><img id="square-logo" src="assets/grey-square.png"><div id="text"><%= link_to "sign out", destroy_user_session_path, data:{method: :delete} %></div></div></li>
      </ul>
    </li>
    <li><%= link_to "/submit art/", new_post_path %></li>
    <li><%= link_to "/messages/", mailbox_inbox_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">•••</a>
      <ul class="dropdown-menu" id="right-side">
        <li><div class="row"><div id="text"><%= link_to "our team", our_team_path %></div></div></li>
        <li><div class="row"><div id="text"><%= link_to "terms", terms_path %></div></div></li>
        <li><div class="row"><div id="text"><%= link_to "privacy", privacy_path %></div></div></li>
        <li><div class="row"><div id="text"><%= link_to "contact us", contact_path %></div></div></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>